<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'styles/style-cadastro-torre.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'icon/icon.ico' %}">
    <title>Cadastrar Torre</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Cadastrar Torre</h1>
        </div>
        <form action="{% url 'cadastro-torre' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="numero">Número:</label>
                <input type="number" id="numero" name="numero" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="operacao">Operação:</label>
                <select id="operacao" name="operacao" class="form-control" required>
                    <option value="{{ operacao }}" disabled selected>{{ operacao }}</option>
                </select>
            </div>

            <div class="btn-group">        
                <a href="{% url 'painel-principal' %}" class="btn btn-cancelar">Cancelar</a>
                <button type="submit" class="btn btn-cadastrar">Cadastrar</button>
            </div>
        </form>
    </div>
</body>
</html>
