<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{% static 'styles/style.css' %}" rel="stylesheet" />
  <title>Login</title>
</head>
<body>
  <div class="tela-login">
    <h1>LOGIN</h1>
    {% if login_fail %}
    <div class="popup" id="popup">
      <p>Email ou senha incorretos</p>
    </div>
    {% endif %}
    <form action="" method="POST">
      {% csrf_token %}
      <input type="email" id="login" name="email" placeholder="Email"><br><br>
      <input type="password" id="senha" name="senha" placeholder="Senha"><br><br>
      <button type="submit" class="enviar">Login</button><br><br>
    </form>
  </div>
</body>
</html>
