<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'styles/style-cadastro-torre.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'icon/icon.ico' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="{% static 'js/edit.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <title>Alterar senha</title>
</head>
<body>
    {% load crispy_forms_tags %}  
    
    <div class="container">
        {% if popup_ok %}
        <script>
            showPopupGreen("Senha alterada com sucesso!")
        </script>
        {% endif %}

        {% if popup_erro %}
        <script>
            showPopupRed("Erro ao alterar sua senha, verifique as informações digitadas.")
        </script>
        {% endif %}

        <div class="header">
            <h1>Alterar senha</h1>
        </div>
        <form action="{% url 'mudar-senha' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.old_password.id_for_label }}">Senha antiga:</label>
                {{ form.old_password }}
            </div>
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}">Senha nova:</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}">Confirme a senha nova:</label>
                {{ form.new_password2 }}
            </div>

            <div class="btn-group">
                <a href="{% url 'painel-principal' %}" class="btn btn-cancelar">Cancelar</a>
                <button type="submit" class="btn btn-registrar">Salvar</button>
            </div>
        </form>
    </div>
</body>
</html>
