<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'styles/style-painel.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'icon/icon.ico' %}">
    <title>Passagens</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">
        </div>
        <div class="user-info">
            <h1>Bem-vindo, {{ user.username }}</h1>
            <p class="small">Email: {{ user.email }}</p>
            <p class="small">Sua operação: {{ user.operacao }}</p>
        </div>
        <div class="btn-container">
            <a href="{% url 'cadastro-torre' %}" class="btn btn-torre">Adicionar Torre</a>
            <a href="{% url 'registro-passagem' %}" class="btn btn-registrar">Registrar Passagem</a>
            <a href="{% url 'logout' %}" class="btn btn-sair">Logout</a>
        </div>
        <h2 class="titulo">Passagens</h2>
        
        <form method="post" class="filtro-form">
            {% csrf_token %}
            <div class="filters">
                <div class="top-filters">
                    <div class="filter-group">
                        <label for="data_inicio" class="data-filter">Data de criação inicial:</label>
                        <input type="date" id="data_inicio" name="data-inicio" value="{{ data_inicial }}">
                    </div>
                    
                    <div class="filter-group">
                        <label for="data_fim" class="data-filter">Data de criação final:</label>
                        <input type="date" id="data_fim" name="data-fim" value="{{ data_final }}">
                    </div>
                    
                    <div class="filter-group">
                        <label for="filtro_torre">Torre:</label>
                        <select id="filtro-torre" name="filtro-torre">
                            <option value="">Todas</option>
                            {% for torre in torres %}
                                <option value="{{ torre }}">{{ torre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="bottom-filters">
                    <div class="filter-group">
                        <label for="filtro_resp">Responsável:</label>
                        <select name="filtro-resp" id="filtro-resp">
                            <option value="">Todos</option>
                            <option value="{{ user.email }}">Eu</option>
                            {% for u in usuarios %}
                                <option value="{{ u.email }}">{{ u.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
        
                    <div class="filter-group">
                        <label for="filtro_recep">Receptor:</label>
                        <select name="filtro-recep" id="filtro-recep">
                            <option value="">Todos</option>
                            <option value="{{ user.email }}">Eu</option>
                            {% for u in usuarios %}
                                <option value="{{ u.email }}">{{ u.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
        
                    <div class="filter-group">
                        <label for="filtro_status">Status:</label>
                        <select name="filtro-status" id="filtro_status">
                            <option value="">Todos</option>
                            <option value="concluido">Concluído</option>
                            <option value="pendente">Pendente</option>
                        </select>
                    </div>
    
                    <button type="submit" class="btn-pesquisa">Pesquisar</button>
                </div>
            </div>
        </form>
        
        <div class="card-container">
            {% for passagem in passagens %}
            <div class="card">
                <div class="card-header">
                    <h3>{{ passagem.titulo }}</h3>
                    <p class="card-line">Criado em: {{ passagem.criado_em|date:"d/m/Y H:i:s" }}</p>
                </div>
                <div class="card-body">
                    <p class="card-line"><img src="{% static 'images/torres.png' %}" alt="Torre" class="icon"> Torre: {{ passagem.torre.numero }}</p>
                    <p class="card-line"><img src="{% static 'images/responsavel.png' %}" alt="Responsável" class="icon"> Responsável: {{ passagem.responsavel.username }}</p>
                    <p class="card-line"><img src="{% static 'images/receptor.png' %}" alt="Receptor" class="icon"> Receptor: {{ passagem.receptor.username }}</p>
                    <p class="card-line"><img src="{% static 'images/status.png' %}" alt="Status" class="icon"> Status: 
                        {% if passagem.concluida %}
                            Concluído
                        {% else %}
                            Pendente
                        {% endif %}
                    </p>
                    {% if passagem.concluida %}
                    <p class="card-line"><img src="{% static 'images/verificar.png' %}" alt="Status" class="icon">Finalizado em: {{ passagem.finalizado_em|date:"d/m/Y H:i:s"|default:"" }}</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    {% if not passagem.concluida and passagem.responsavel == user %}
                    <a class="edit" href="/troca-turno/painel/{{ passagem.id }}">Editar</a>
                    {% else %}
                    <a class="edit view-only" href="/troca-turno/painel/view/{{ passagem.id }}">Visualizar</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
