<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'styles/style-cadastro-torre.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'icon/icon.ico' %}">
    <title>Cadastro de usuário</title>
</head>
<body>
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="header">
            <h1>Cadastro de usuário</h1>
        </div>
        <form action="{% url 'registro-usuario' %}" method="post">
            {% csrf_token %}
            <!-- Email -->
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            {{ form.email.errors }}
            
            <!-- Username -->
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
            {{ form.username.errors }}
            
            <!-- Password -->
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
            
            <!-- Confirm Password -->
            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
            
            <!-- Operacao -->
            <label for="{{ form.operacao.id_for_label }}">Operacao:</label>
            {{ form.operacao }}
            {{ form.operacao.errors }}
            
            <!-- Gestor -->
            <label for="{{ form.gestor.id_for_label }}">Gestor:</label>
            {{ form.gestor }}
            {{ form.gestor.errors }}
            
            <!-- Submit Button -->
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
