<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'styles/style-edit.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'icon/icon.ico' %}">
    <title>Editar Passagem</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Editar Passagem</h1>
        </div>
        <form action="{% url 'edit-passagem' passagem.id %}" method="post" enctype="multipart/form-data">
            <label>Data de Criação: {{ passagem.criado_em|date:"d/m/Y H:i:s" }}</label>
            {% csrf_token %}
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" value="{{ passagem.titulo }}" disabled required>
            
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" rows="10" class="in-desc" disabled required>{{ passagem.descricao }}</textarea>
            
            <label for="responsavel">Responsável:</label>
            <input type="text" id="responsavel" name="responsavel" value="{{ passagem.responsavel.username }}" disabled>
            
            <label for="receptor">Receptor:</label>
            <select id="receptor" name="receptor" disabled required>
                {% for u in usuarios %}
                    <option value="{{u.email}}" {% if u.email == passagem.receptor.email %}selected{% endif %}>{{u.username}}</option>
                {% endfor %}
            </select>
            
            
            
            <div class="table-dts">
                <table>
                <thead>
                    <tr>
                        <th>DT</th>
                        <th>Placa</th>
                        <th>Placa carreta</th>
                        <th>Transportador</th>
                        <th>Atlas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% if dt_list %}
                    {% for dt in dt_list %}
                    <tr>
                        <td>{{ dt.idPlanoViagem }}</td>
                        <td>{{ dt.idVeiculo }}</td>
                        <td>{{ dt.idCarreta }}</td>
                        <td>{{ dt.transportador }}</td>
                        <td>
                            <a href="http://monitor.atlasgr.com.br/monitor?dt={{ dt.idPlanoViagem }}" target="_blank">Monitor</a>
                        </td>
                        <td>
                            <button class="btn btn-delete" onclick="setDtDelete('delete-dt', {{ dt.idPlanoViagem }})">Remover</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                    <input type="hidden" name="dt-delete" value="" id="dt-delete">
                
                </tbody>
                </table>
            
            <div class="btn-group">
                <a href="{% url 'painel-principal' %}" class="btn btn-voltar">Voltar</a>
            </div>
        </form>
    </div>
</body>
</html>
