body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #13263d;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #254266;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.card-header {
    position: relative;
}

.verificar-img {
    position: absolute;
    top: 0px;
    right: -20px;
    width: 25px; /* Ajuste o tamanho conforme necessário */
    height: 25px;
}

/* Botões */
.btn, .btn-pesquisa {
    background-color: #ffc000;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: #13263d;
    font-size: large;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-pesquisa {
    margin-left: 100px;
    margin-bottom: 20px;
}

.btn:hover, .btn-pesquisa:hover {
    background-color: #13263d;
    color: #fff;
}

/* Filtros */
.filtro-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar à esquerda */
    margin-bottom: 20px;
    width: 100%;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar à esquerda */
    width: 100%;
}

.top-filters, .bottom-filters {
    display: flex;
    justify-content: flex-start; /* Alinhar à esquerda */
    width: 100%;
    margin-bottom: 10px;
}

.filter-group {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.filter-group input, .filter-group select {
    color: #13263d;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

/* Cartões */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #13263d;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.445);
    align-items: center;
    width: 300px;
    height: 330px;
    overflow: auto;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.card h3 { /* Adicionado para centralizar o título */
    text-align: center;
    margin: 0; /* Removido a margem para melhor alinhamento */
    margin-bottom: 15px;
}

.card-body p {
    text-align: left;
    margin-left: 10px;
}

a.edit {
    background-color: #ffc000;
    padding: 5px 10px;
    border-radius: 25px;
    color: #13263d;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    justify-items: end;
}

a.view-only {
    background-color: #4073b2;
    padding: 5px 10px;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    justify-items: end;
}

.card-footer a.edit:hover, .card-footer a.view-only:hover {
    background-color: #13263d;
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .top-filters, .bottom-filters {
        flex-direction: column;
    }

    .filter-group {
        width: 100%;
    }

    .card {
        width: 100%;
    }
}

.icon {
    height: 27px; /* Ajuste a altura conforme necessário */
    width: 27px;  /* Ajuste a largura conforme necessário */
    margin-right: 5px;
}

.card-line {
    border-bottom: 1px solid #ccc; /* Ajuste a cor e espessura conforme necessário */
    margin: 5px 0; /* Ajuste as margens conforme necessário */
    margin-bottom: 5px;
}

.btn-container {
    margin: 20px;
}

.btn-torre {
    margin-right: 37px;
}

.btn-sair {
    margin-left: 650px;
    background-color: #ba3b3b;
    color: #fff;
}

.card-footer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-top: auto;       
}

.logo {
    height: 100px;
    width: auto;
    text-align: center;
}

